.idea/*
!.idea/codeStyles/

.gradle
app/build
yield-layout-lib/build
duo-navigation-drawer/build
local.properties
*.iml
/build
/captures
.externalNativeBuild
/buildCache
.DS_Store
localized_strings.xml
app/src/main/java/com/myhome/app/user/
app/src/tech/res/values-ar/
app/src/user/res/values-ar/
fastlane/README.md
fastlane/report.xml
app/sampledata/
captures/
fastlane/actions/

# ObjectBox: model backups
app/objectbox-models/default.json.bak