<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.s0nerik.reduxdroid_movies.films">
    <application>
        <provider
            android:authorities="${applicationId}.films-module"
            android:name=".Module"
            />
    </application>
</manifest>
